<a href="https://colab.research.google.com/github/abhinavgarg117/Mini-Project-01-Python-Assignment/blob/main/mini_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.L is a list defined as L=[11,12,13,14]

(i)WAP to add 50 and 60 to L.

In [ ]:
# Step 1: Define the list
L = [11, 12, 13, 14]

# Step 2: Use it
L.append(50)
L.append(60)
print("After adding:", L)

After adding: [11, 12, 13, 14, 50, 60]

(ii)WAP to remove 11 and 13 from L.

In [ ]:
for x in (11, 13):
    if x in L:
        L.remove(x)         # â†’ [12, 14, 50, 60]

(iii)WAP to sort L in ascending order.

In [ ]:
# Define the list
L = [11, 12, 13, 14]

# Sort in ascending order
L.sort()

# Print the sorted list
print("List in ascending order:", L)

(iv)WAP to sort L in descending order.

In [ ]:
# Define the list
L = [11, 12, 13, 14]

# Sort in descending order
L.sort(reverse=True)

# Print the sorted list
print("List in descending order:", L)

(v)WAP to search for 13 in L.

In [ ]:
# Define the list
L = [11, 12, 13, 14]

# Search for 13
if 13 in L:
    print("13 is present in the list.")
else:
    print("13 is not present in the list.")

13 is present in the list.

(vi) WAP to count the number of elements present in L.

In [ ]:
# Define the list
L = [11, 12, 13, 14]

# Count the number of elements
count = len(L)

# Print the result
print("Number of elements in the list:", count)

Number of elements in the list: 4

(vii) WAP to sum all the elements in L.

In [ ]:
# Define the list
L = [11, 12, 13, 14]

# Calculate the sum of all elements
total = sum(L)

# Print the result
print("Sum of all elements in the list:", total)

(viii) WAP to sum all ODD numbers in L.

In [ ]:
# Define the list
L = [11, 12, 13, 14]

# Calculate the sum of odd numbers
odd_sum = sum(n for n in L if n % 2 != 0)

# Print the result
print("Sum of all odd numbers in the list:", odd_sum)

Sum of all odd numbers in the list: 24

(ix) WAP to sum all EVEN numbers in L.

In [ ]:
# Define the list
L = [11, 12, 13, 14]

# Calculate the sum of even numbers
even_sum = sum(n for n in L if n % 2 == 0)

# Print the result
print("Sum of all even numbers in the list:", even_sum)

(x) WAP to sum all PRIME numbers in L.

In [ ]:
# Define the list
L = [11, 12, 13, 14]

# Function to check if a number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# Calculate the sum of prime numbers
prime_sum = sum(n for n in L if is_prime(n))

# Print the result
print("Sum of all prime numbers in the list:", prime_sum)

(xi) WAP to clear all the elements in L.

In [ ]:
L = [11, 12, 13, 14]  # Example list
L.clear()  # Clears all elements from the list
print(L)  # Output will be []

[]

(xii) WAP to delete L.

In [ ]:
L = [11, 12, 13, 14]  # Example list
del L  # Deletes the list variable L

# Now, if you try to print L, it will give an error because L no longer exists
# print(L)  # This will raise NameError: name 'L' is not defined

Q2. D is a dictionary defined as D={1:5.6,2:7.8,3:3.6,4:8.7,5:7.7}

(i) WAP to add new entry in D;key=8 and value is 8.8

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 3.6, 4: 8.7, 5: 7.7}  # existing dictionary
D[8] = 8.8  # adding new key-value pair
print(D)

{1: 5.6, 2: 7.8, 3: 3.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 3.6, 4: 8.7, 5: 7.7}

# Using pop()
D.pop(2, None)  # Removes key 2 if present, does nothing if not

# OR using del
# del D[2]  # This raises KeyError if key 2 is not present

print(D)

(iii) WAP to check weather 6 key is present in D.

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 3.6, 4: 8.7, 5: 7.7}

if 6 in D:
    print("Key 6 is present in D.")
else:
    print("Key 6 is not present in D.")

(iv) WAP to count the number of elements present in D.

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 3.6, 4: 8.7, 5: 7.7}

count = len(D)
print("Number of elements in D:", count)

(v) WAP to add all the values present in D.

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 3.6, 4: 8.7, 5: 7.7}

total = sum(D.values())
print("Sum of all values in D:", total)

(vi) WAP to update the value of 3 to 7.1.

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 3.6, 4: 8.7, 5: 7.7}

D[3] = 7.1  # Update the value for key 3

print(D)

(vii) WAP to clear the dictionary.

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 3.6, 4: 8.7, 5: 7.7}

D.clear()  # Removes all key-value pairs from D

print(D)  # Output will be {}

Q3. S1 is a set defined as S1=[10,20,30,40,50,60]
    S2 is a set defined as S2=[40,50,60,70,80,90]

(i) WAP to add 55 and 66 in set S1.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}

# Adding elements one by one
S1.add(55)
S1.add(66)

print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

(ii) WAP to remove 10 and 30 from set S1.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}

S1.remove(10)
S1.remove(30)

print(S1)

{50, 20, 40, 60}

(iii) WAP to check whether 40 is present in S1.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}

if 40 in S1:
    print("40 is present in S1.")
else:
    print("40 is not present in S1.")

(iv) WAP to find the union between S1 and S2.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

# Using union() method
union_set = S1.union(S2)

# OR using | operator
# union_set = S1 | S2

print("Union of S1 and S2:", union_set)

(v) WAP to find the intersection between S1 and S2.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

# Using intersection() method
intersection_set = S1.intersection(S2)

# OR using & operator
# intersection_set = S1 & S2

print("Intersection of S1 and S2:", intersection_set)

(vi) WAP to find the S1-S2.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

# Using difference() method
diff_set = S1.difference(S2)

# OR using - operator
# diff_set = S1 - S2

print("Difference S1 - S2:", diff_set)

Q4. Write the following program.

(i) WAP to print 100 random strings whose length is between 6 and 8.

In [ ]:
import random
import string

for _ in range(100):
    length = random.randint(6, 8)  # random length between 6 and 8
    rand_str = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
    print(rand_str)

jEDKEb
znMbum5C
1ktKch
Lxs4cKB
81dmqBX
41Wahs
tqFWOnXf
Rza82ar3
48OVhxve
4Gtsoh
NSlvE5
OvODSbQp
HFA0X8iV
IuE17H
mf1JH3Wk
colQrZXN
c9WXe2I
Ob8JDLL
JMpzNPDs
4EuOAUR
apvWwP
ptqNt2
y8VNRjM
qJoOs1S
Bk6wzUJ
Aa3z5L5Y
Lwp6dN
Zp26Za0i
bTFqRFSi
3NvYCM
zEz9ZoT0
upPjvZGN
6v0RAPt
S3Yjn38e
ea5mJq0b
wUiYl70u
oxtwR2l
ElblDt
emWweWJ
5AIM6g2
BanXfRlt
sSJyfw
f4FpTt
3THLji
IbInBqc
CE9qKH
e1SqwwZ5
fwlJeIFy
Y0d2BtSS
H6hsvQv
YFm40FEw
w0yzds
vGKpXc
dbAFbexj
GJdXqUL
sILUo0L
HByqtf
MpITZABl
xYP6DG
Ulyrw6w
osuUFw
jArxVb5
sg6t4sFc
Y3KSLYD9
Fzpy1Ks
PvJQN1
VriWh8Bu
jyYu9lUY
ZyL4wR9
OhoxpMmV
OUNWVJ1
zlmmOc
kT77bD3k
VgP9n8Kb
hmqDQQSZ
DR64LC
a61jqEvd
GnQwfQ
WzHzGP
tZ0KfYL
DlDHBJ
H3okvPIO
dbehvo1W
x1A7eb
s4EMTJ
dQLc7O
SXqkAPI
crIPB2T
I06fxls
jjWcpSo9
QjIBArFr
cpvEXnkr
r99cuft
Z2FehlI
X24ZI164
VG2qXBaj
LyHuPbs
BfC7Y7
KWs9sN2
On6qJIY

(ii) WAP to print all prime numbers between 600 and 800.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num)

(iii) WAP to print all numbers vetween 100 and 1000 that are divisible by 7 and 9.

In [ ]:
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create list of 10 random numbers between 10 and 30;Find

(i) common numbers in the two lists.

In [ ]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

print("List 1:", list1)
print("List 2:", list2)

# Find common numbers
common_numbers = set(list1) & set(list2)

print("Common numbers in both lists:", common_numbers)

(ii) Unique numbers in both the lists.

In [ ]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

print("List 1:", list1)
print("List 2:", list2)

# (i) Common numbers in both lists
common_numbers = set(list1) & set(list2)
print("Common numbers:", common_numbers)

# (ii) Unique numbers in both lists (not common)
unique_numbers = set(list1) ^ set(list2)  # symmetric difference
print("Unique numbers in both lists:", unique_numbers)

(iii) Minimum in both the lists.

In [ ]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

print("List 1:", list1)
print("List 2:", list2)

# (i) Common numbers in both lists
common_numbers = set(list1) & set(list2)
print("Common numbers:", common_numbers)

# (ii) Unique numbers in both lists (not common)
unique_numbers = set(list1) ^ set(list2)
print("Unique numbers in both lists:", unique_numbers)

# (iii) Minimum in both lists
min_list1 = min(list1)
min_list2 = min(list2)
print("Minimum in List 1:", min_list1)
print("Minimum in List 2:", min_list2)

(iv) Maximum in both the lists.

In [ ]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

print("List 1:", list1)
print("List 2:", list2)

# (i) Common numbers in both lists
common_numbers = set(list1) & set(list2)
print("Common numbers:", common_numbers)

# (ii) Unique numbers in both lists (not common)
unique_numbers = set(list1) ^ set(list2)
print("Unique numbers in both lists:", unique_numbers)

# (iii) Minimum in both lists
min_list1 = min(list1)
min_list2 = min(list2)
print("Minimum in List 1:", min_list1)
print("Minimum in List 2:", min_list2)

# (iv) Maximum in both lists
max_list1 = max(list1)
max_list2 = max(list2)
print("Maximum in List 1:", max_list1)
print("Maximum in List 2:", max_list2)

(v) Sum of both the lists.

In [ ]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

print("List 1:", list1)
print("List 2:", list2)

# (i) Common numbers in both lists
common_numbers = set(list1) & set(list2)
print("Common numbers:", common_numbers)

# (ii) Unique numbers in both lists (not common)
unique_numbers = set(list1) ^ set(list2)
print("Unique numbers in both lists:", unique_numbers)

# (iii) Minimum in both lists
min_list1 = min(list1)
min_list2 = min(list2)
print("Minimum in List 1:", min_list1)
print("Minimum in List 2:", min_list2)

# (iv) Maximum in both lists
max_list1 = max(list1)
max_list2 = max(list2)
print("Maximum in List 1:", max_list1)
print("Maximum in List 2:", max_list2)

# (v) Sum of both lists
sum_list1 = sum(list1)
sum_list2 = sum(list2)
print("Sum of List 1:", sum_list1)
print("Sum of List 2:", sum_list2)